/*Variables*/
$color-one: #FFD700;
$color-two: #A9A9A9;
$color-three: #FFFFFF;
$color-four: #000000;

$font-text: 'Josefin Sans', sans-serif;
$font-header: 'Open Sans', sans-serif;

/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
}
body{
  font-family: $font-text;
  margin: 0;
}
.container{
  max-width: 1140px;
  padding: 0 20px;
  margin-bottom: 50px; 
}


/*Splash*/

.splash{
  height: 100vh;
  position: relative;
  background-image: url('https://images.pexels.com/photos/4993226/pexels-photo-4993226.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  text-align: center;
  
  .splash-inner {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
}
.splash .wrapper{
  display: flex;
  justify-content: space-between;
}

.col-6 ul{
  display: flex;
  flex-wrap: wrap;

}
.page-title, .page-subtitle{
  color: $color-three;
}
.page-subtitle{
  font-weight: bold;
  font-size: 60px;
}
.btn{
  display: inline-block;
  border-radius: 5px;
  background-color: $color-one;
  color: $color-three;
  font-weight: bold;
  width: 200px;
  height: 50px;
  padding: 17px;
  text-decoration: none; 
}

ul li a{
  font-size: 13px;
  color: $color-three;
  padding: 15px;
  text-decoration: none;
}
ul li{
  list-style: none;
}
.col-4 h3{
  font-size: 20px;
  color: $color-one;
}

/*Services*/

.services{
  justify-content: center;
  margin: 100px;
  text-align: center;
}
.services h6{
  color: $color-four;
  font-weight: bold;
}
.services p{
  color: $color-two;
}
   
.services .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
.box{
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 0 0 33.333%;
  padding: 50px 10px;
}
.box-logo{
  display: flex;
  place-content: center space-evenly;
  position: relative;
  font-size: 30px;
  background: $color-three;
  height: 60px;
  width: 60px;
  line-height: 60px;
  color: $color-one;
  border-radius: 50%;
  border: 2px solid  $color-one;
  margin: 0 auto;
    
}
.box-logo i{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.box-title{
  font-weight: bold;
  color: $color-four;
}
.box-subtitle{
  color: $color-two;
}
.section-subtitle{
  color: $color-two;
}
.box-description{
  margin-top: 50px;
}
.services-title .section-title p{
  color: $color-two
}

/*Portfolio*/
.portfolio{
  justify-content: center;
  margin: 100px;
  text-align: center;
}
.portfolio .section-title{
  font-weight: bold;
}
.portfolio p{
  color: $color-two
}
.portfolio h6{
  color: $color-four;
  font-weight: bold;
}
.portfolio .row{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.portfolio .col-4{
  padding: 15px;
}

.box-image img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.box-image .box-description{
  margin-top: 0;
}
 /*Footer*/

 .page-footer{
  padding: 0 20px;
  margin: 30px auto;
 }
 .page-footer .wrapper{
  display:flex;
  flex-wrap: wrap;
 }
 .page-footer ul{
  display: flex;
}
 .page-footer li{
  font-size: 0;
 }
 .page-footer i{
  font-size: 15px;
    background: $color-four;
    width: 30px;
    height: 30px;
    color: $color-three;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
 }
 .page-footer a{
  text-align: center;
 }
 .page-footer p{
  color: $color-two;
 }

 /*Media*/

 @media (max-width: 767px) {
  .portfolio, .services{
    margin: 0 0;
  }

 }